.form-input{
    display: block;
    width: 250px;
    height: 25px;
    border-radius: 8px;
    border: 2px solid #5FA5F8;
    margin: 0 auto;
    margin-top: 20px;
}

.form{
    font-family: 'Montserrat';
}

.signup-title{
    font-family: 'Montserrat';
}

.error-text{
    font-family: 'Montserrat';
    margin-left: 36px;
    font-size: 13px;
    margin-top: 3px;
    color: red;
}

.login-title{
    font-family: 'Montserrat';
}

.send-form-btn.login{
    width: 150px;
    height: 40px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    background: #5FA5F8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 23px;
    border: none;
    margin: 0 auto;
    margin-top: 20px;
}

.send-form-btn.signup{
    width: 150px;
    height: 40px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    background: #9BD76B;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 23px;
    border: none;
    margin: 0 auto;
    margin-top: 20px;
}

.form{
    width: 340px;
    height: 275px;
    border: 3px solid #5FA5F8;
    border-radius: 23px;
}