.profile{
    display: flex;
}

.profile__content{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.user-info{
    text-align: center;
    font-family: 'Montserrat';
}

.user-email{
    margin-top: 10px;
}

.user-img-big{
    border-radius: 50%;
    margin-bottom: 40px;
}

.logout{
    margin-top: 20px;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 12px;
    background: rgb(230, 33, 33);
    color: #fff;
    font-family: 'Montserrat';
}