.posts__list-item{
    width: 600px;
    border: 2px solid #5FA5F8;
    border-radius: 12px;
    padding: 10px;
    font-family: 'Montserrat';
    margin-top: 20px;
}

.post-preview{
    width: 100%;
    max-width: 600px;
    height: 300px;
    object-fit: cover;
}

.posts__list-item__info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.posts__list-item-text{
    margin-top: 20px;
}

.posts__list-item-title{
    font-size: 22px;
    text-decoration: none;
    color: #000;
}